name: Spring Boot CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Build & Test
        run: mvn -B clean verify

      - uses: actions/upload-artifact@v4
        with:
          name: spring-boot-app
          path: target/*.jar

